*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-g-logo{
    margin-right: auto;
}
.nav-g-logo img{
    max-width: 67px;
}
.nav-group{
display:flex;
justify-content:flex-end;
align-items: center;
background-color: black;
}
.nav-g-ul{
padding-right: 15px;
}
.nav-g-ul li{
display: inline-block;
list-style-type: none;
padding: 0px 13px;

}
.nav-g-ul li a{
text-decoration: none;
color:white;
}
.nav-g-ul li a:hover{
transition: all .5s ease-out;
font-weight: bold;
border-bottom: 2px solid red;
font-size: 17px;
}
.nav-g-hambar-icon{
color: white;
visibility: hidden;
}
@media screen and (max-width: 650px) {
body{
    overflow-x: hidden;
}
.nav-g-ul{
    visibility: hidden;
}
.nav-g-logo{
    margin-left: 17px;
}
.nav-g-hambar-icon{
    visibility: visible;
    margin-right:27px;
    cursor: pointer;
}
.responsive{
    visibility: visible;
    position: absolute;
    
    transition: .65s ease-in;
    top:11%;
    background-color: black;
    left: 43%;
    height: 90vh;
    width: 80%;
}
.responsive li{
    display: block;
    padding: 30px 0px;
    padding-left: 29%;
    margin-top: 20px;
}
}
